.wrapper {
  width: 500px;
  height: 500px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 150px;
  height: 150px;
  background-color: green;
  transform: rotate(45deg);
  transition: all 0.8s ease-in-out;
}

.box:hover {
  background-color: blue;
  width: 200px;
  transform: scale(1.5) rotate(90deg);
}
